main{
    display: flex;
    justify-content: center;
    width: 100%;
}
main .conteiner-sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
main h2 {
    margin: 2rem 0;
}
main form {
    display: flex;
    width: 70%;
}
.form-sign {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-sign .input-sign {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #373867;
}
.form-sign .input-sign input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #000;
    font-weight: 400;
}
.form-sign button {
    align-self: center;
    width: 40%;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: #373867;
    border: none;
    background-color: #AACE9B;
}
main .validation-singup {
    display: none;
}
.hidden-p {
    display: none;
    margin-top: 0.1rem;
    color: #F00;
    font-style: italic;
}
