<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <script src="../javascript/signup.js"></script>
        <title>TRACKGENIX | WELCOME </title>
    </head>
    <body>
        <aside class="big-aside"> 
            <form class="topnav"> 
                <input type="text" placeholder="Search">
                <img src="../assets/lupa.png" alt="#">
            </form>
            <div>
                <p class="menu">
                    Menu
                </p>
            </div>
            <div class="aside-links">
                <ul>
                    <li><a href="#">HOMEPAGE</a></li>
                    <li><a href="#">GENERIC</a></li>
                    <li><a href="#">SUBMENU</a></li>
                </ul>
            </div>
            <div>
                <p class="git">
                    Get in touch
                </p>
            </div>
            <div class="aside-p">
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Leo, venenatis volutpat fusce vitae, in suspendisse proin massa.
                    Mattis nulla libero nibh eu nisl sed.
                </p>
            </div>
            <div class="aside-contact">
                <ul class="imgs">
                    <li><img src="../assets/message.png" alt="#"><span>information@untitled.tld</span></li>
                    <li><img src="../assets/phone.png" alt="#"><span>(000) 0000 00000</span></li>
                    <li><img src="../assets/home.png" alt="#"><span>1234 Somewhere Road #8254 Nashville, TN 00000-0000</span></li>
                </ul>
            </div>
        </aside>
        <div class="big-main">
            <header>
                <span id="burguer"><img src="../assets/burguer.png" alt="#"></span>
                <h1> TRACKGENIX </TRACKGENIX></h1>
                <nav>
                    <ul class="nav-bar">
                        <li><a href="../views/index.html"><span>HOME</span></a></li>
                        <li><a href="../views/employee-singup.html"><span>SINGUP</span></a></li>
                        <li><a href="../views/login.html"><span>LOGIN</span></a></li>
                        <li><a href="#"><span>CONTACT</span></a></li>
                    </ul>
                </nav>
            </header>  
            <main>
                <div class="conteiner-sign">
                    <h2>Register</h2>
                    <form action="#">
                        <div class="form-sign">
                            <div class="input-sign">
                                <label for="name">Name</label>
                                <input type="text" placeholder="Type here" id="name">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="surname">Surname</label>
                                <input type="text" placeholder="Type here" id="surname">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="dni">DNI</label>
                                <input type="number" placeholder="Type here" id="dni">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="date of birth">Date of Birth</label>
                                <input type="date" id="date">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="phone">Phone</label>
                                <input type="number" placeholder="Type here" id="phone">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="address">Adress</label>
                                <input type="text" placeholder="Type here" id="address">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="location">Location</label>
                                <input type="text" placeholder="Type here" id="location">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="postal code">Postal Code</label>
                                <input type="text" placeholder="Type here" id="postal code">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="email">Email</label>
                                <input type="email" placeholder="Type here" id="email">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="password">Password</label>
                                <input type="password" placeholder="Type here" id="password">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <label for="repeat password">Repeat Password</label>
                                <input type="password" placeholder="Type here" id="repeat password">
                                <p class="hidden-p"></p>
                            </div>
                            <div class="input-sign">
                                <button type="submit">Create</button>
                                <a href="../views/index.html"></a>
                            </div>
                        </div>
                    </form>
                    <div class="validation-singup">
                        <ul>
                            <li>Nombre: <span class="inner-singup"></span></li>
                            <li>Apellido: <span class="inner-singup"></span></li>
                            <li>Dni: <span class="inner-singup"></span></li>
                            <li>Fecha de Nacimiento: <span class="inner-singup"></span></li>
                            <li>Teléfono: <span class="inner-singup"></span></li>
                            <li>Dirección: <span class="inner-singup"></span></li>
                            <li>Localidad: <span class="inner-singup"></span></li>
                            <li>Código Postal: <span class="inner-singup"></span></li>
                            <li>Email: <span class="inner-singup"></span></li>
                            <li>Contraseña: <span class="inner-singup"></span></li>
                            <li>Repetir Contraseña: <span class="inner-singup"></span></li>
                        </ul>
                    </div>
                </div> 
            </main>
            <footer>
                <div>
                    <a href="#"><img src="../assets/twitter.png" alt="#"></a>
                    <a href="#"><img src="../assets/lkd.png" alt="#"></a>
                    <a href="#"><img src="../assets/ig.png" alt="#"></a>
                    <a href="#"><img src="../assets/fb.png" alt="#"></a>
                </div>
                <div class="last-p">
                    <p>Rosario, Argentina</p>
                    <p>Copyright © 2022 Trackgenix. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </body>
</html>