body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    color: #000;
}
nav ul a {
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}
aside {
    flex: 1;
    height: 100%;
    background-color: #ededed;
}
aside form .topnav {
    background-color: #c4c4c4;
}
.big-main {
    flex: 4;
}
